.star-icon {
  display: block;
  padding: 16px 15.3px 16px 16px;
  width: 48px;
  height: 48px;
  background-color: #262e38;
  border-radius: 50%;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}
p {
  font-size: 15px;
  line-height: 1.6;
  color: #969fad;
  margin-top: 7px;
}
.rate-container {
  max-width: 412px;
  height: 416px;
  padding: 32px 39px 32px 32px;
  border-radius: 30px;
  background-image: radial-gradient(circle at 50% 0, #232a34, #181e27 89%);
}

.rate-btns {
  display: flex;
  gap: 21px;
}
.rate-btns button {
  margin-top: 24px;
  width: 51px;
  height: 51px;
  background-color: #262e38;
  color: #7c8798;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.rate-btns button:hover {
  background-color: #7c8798;
  color: #fff;
}
button {
  margin-top: 32px;
  width: 341px;
  height: 45px;
  border-radius: 22.5px;
  border: none;
  cursor: pointer;
  color: #fff;

  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #fc7614;
  transition: all 0.3s;
}
button:hover {
  color: #fc7614;
  background-color: #fff;
}

@media only screen and (max-width: 412px) {
  h1 {
    font-size: 24px;
  }
  .rate-btns button {
    width: 42px;
    height: 42px;
  }
  .rate-btns {
    gap: 18px;
  }
  button {
    width: 279px;
  }
}
